$main-color: #283149;
$second-color: #fff;
$accent-color: #ceff7b;
$hover-color: #c3ff5b;
$background-main: #f2f4f5;
$background-accent: #283149;
$error-color: #ff7f0e;
$disable-color: #888;

$default-border: 1px solid #0000001a;
$dashed-border: 1px dashed #283149;
$active-field-border: 2px solid #948ad0;

$default-gap: 10px;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow: 0 0 0 3px rgba(206, 255, 123, 0.5);
$overlay: rgba(0, 0, 0, 0.5);
