@import '../../styles/variables.scss';

.ad_container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px 12px;
  border-radius: 14px;
  background-color: $second-color;
}

.ad_image_wrap {
  position: relative;
  overflow: hidden;
}

.ad_image {
  width: 290px;
  object-fit: cover;
  border-radius: 14px;
  background-position: center;
  background-size: cover;
  background: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    #f3f3f2;
}

.ad_price_wrap {
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 5px;
  background-color: $background-accent;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

.ad_price {
  font-weight: 500;
  font-size: 0.875rem;
  color: $second-color;
}

.ad_price_accent {
  font-weight: 600;
  color: $accent-color;
}

.ad_title {
  font-size: 0.875rem;
}

.ad_description {
  letter-spacing: -0.02em;
}

.ad_location_wrap {
  display: flex;
  gap: $default-gap;
}

.ad_location_icon {
  width: 20px;
  height: 20px;
}
